In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../../src')))
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../../scripts')))

In [3]:
from utils import *
from plots import *

# EDA

In [4]:
df = data_loader('../../data/store.csv')

In [5]:
df.shape

(1115, 10)

In [6]:
df.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [7]:
df.describe()

,Store,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
count,1115.00000,1112.000000,761.000000,761.000000,1115.000000,571.000000,571.000000
mean,558.00000,5404.901079,7.224704,2008.668857,0.512108,23.595447,2011.763573
std,322.01708,7663.174720,3.212348,6.195983,0.500078,14.141984,1.674935
min,1.00000,20.000000,1.000000,1900.000000,0.000000,1.000000,2009.000000
25%,279.50000,717.500000,4.000000,2006.000000,0.000000,13.000000,2011.000000
50%,558.00000,2325.000000,8.000000,2010.000000,1.000000,22.000000,2012.000000
75%,836.50000,6882.500000,10.000000,2013.000000,1.000000,37.000000,2013.000000
max,1115.00000,75860.000000,12.000000,2015.000000,1.000000,50.000000,2015.000000

# Data Frame Summary

In [8]:
summary_df = column_summary(df)
display(summary_df)

,col_name,col_dtype,num_of_nulls,num_of_non_nulls,num_of_distinct_values,distinct_values_counts
0,Store,int64,0,1115,1115,"{1115: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, ..."
1,StoreType,object,0,1115,4,"{'a': 602, 'd': 348, 'c': 148, 'b': 17}"
2,Assortment,object,0,1115,3,"{'a': 593, 'c': 513, 'b': 9}"
3,CompetitionDistance,float64,3,1112,654,"{250.0: 12, 1200.0: 9, 50.0: 8, 350.0: 8, 190...."
4,CompetitionOpenSinceMonth,float64,354,761,12,"{9.0: 125, 4.0: 94, 11.0: 92, 3.0: 70, 7.0: 67..."
5,CompetitionOpenSinceYear,float64,354,761,23,"{2013.0: 83, 2012.0: 82, 2014.0: 70, 2005.0: 6..."
6,Promo2,int64,0,1115,2,"{1: 571, 0: 544}"
7,Promo2SinceWeek,float64,544,571,24,"{14.0: 81, 40.0: 77, 31.0: 44, 10.0: 42, 5.0: ..."
8,Promo2SinceYear,float64,544,571,7,"{2011.0: 128, 2013.0: 120, 2014.0: 95, 2012.0:..."
9,PromoInterval,object,544,571,3,"{'Jan,Apr,Jul,Oct': 335, 'Feb,May,Aug,Nov': 13..."

# Handle Missing Values

In [9]:
df = impute_missing_values(df, 'CompetitionDistance', 'mean')

/home/kaleb/projects/kaim/Sales_Forcaster_Rossman_Pharmaceuticals/scripts/utils.py:81: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(value, inplace=True)

In [10]:
df = impute_with_historical_averages(df)

/home/kaleb/projects/kaim/Sales_Forcaster_Rossman_Pharmaceuticals/scripts/utils.py:93: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CompetitionOpenSinceMonth'].fillna(mode_month, inplace=True)
/home/kaleb/projects/kaim/Sales_Forcaster_Rossman_Pharmaceuticals/scripts/utils.py:94: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CompetitionOpenSinceYear'].fillna(mode_year, inplace=True)

In [11]:
df = handle_no_promo_data(df)

/home/kaleb/projects/kaim/Sales_Forcaster_Rossman_Pharmaceuticals/scripts/utils.py:103: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Promo2SinceWeek'].fillna(0, inplace=True)
/home/kaleb/projects/kaim/Sales_Forcaster_Rossman_Pharmaceuticals/scripts/utils.py:104: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Promo2SinceYear'].fillna(0, inplace=True)
/home/kaleb/projects/kaim/Sales_Forcaster_Rossman_Pharmaceuticals/scripts/utils.py:105: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PromoInterval'].fillna('No Promo', inplace=True)

# Saving Cleaned Data

In [12]:
save_dataframe_to_csv(df, 'cleaned_store_data.csv')